{% extends "admin/base_admin.html.twig" %}
{% block title %}
    Administrator support
{% endblock title %}

{% block header_admin %}
    <h1 class="text-center p-2 text-white bg-noir">Support de Page</h1>
{% endblock header_admin %}

{% block main %}

    <div class="row justify-content-around d-flex ">
        <div class="insert-cours col-md-10 col-lg-5 my-3">
            <div class="">
                <a href="{{ path("admin_support_insert") }}">Insert tes support pour Cours</a>
            </div>
        </div>

        <div class="d-none d-lg-block col-lg-7">
            <h2>Vérification de vidéo</h2>
            <video controls class="video_position videoSource" width="450">
                <source src="{{ asset('uploads/video/videoplayback-6066ec5ce05d8.mp4') }}" type="video/mp4">
            </video>
        </div>
    </div>


    <div class="container">
        {% for classe in classes %}
            <div class="container">
                <div class="row">
                    <div class="my-3 fs-1 p-1 text-white" style="background-color: {{ classe.color}}">
                        <h2 class="px-4">{{ classe.name }}</h2>
                    </div>

                    {% for support in classe.supports %}
{#                        {% if support.image %}#}
{#                            <img src="{{asset('uploads/image/' ~ support.image) }}" alt="{{ support.titre }}" class="image" style="width: 100px" >#}
{#                        {% endif %}#}

                        {% if support.video %}
                                <div class="row justify-content-center">
                                    <div class="width80 ">
                                        <div class="linkVideo container-video d-flex align-items-center text-center bg-light mb-2 ">
                                            <a href="{{ asset('uploads/video/' ~ support.video) }}" class="text-decoration-none text-dark ms-3">
                                                <span class="">{{ support.titre }}</span>
                                            </a>
                                            <div class=" d-flex align-items-center ms-auto p-1 me-3 ">
                                                <a class="btn-support" href="{{ path("admin_support_update",{"id" :support.id}) }}"><img src="{{ asset('assets/media/icon/updated.png') }}" alt="update" class="width50 me-4 resp"></a>
                                                <a class="btn-support" href="{{ path("admin_support_delete",{"id" :support.id}) }}"><img src="{{ asset('assets/media/icon/delete.png') }}" alt="delete" class="width50 resp"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock main %}

{% block script_video %}
    <script>
        {#   Stop evenement sur video pour click sur button update, delete     #}
        let btns = document.querySelectorAll('.btn-support');
        console.log(btns)
        btns.forEach((btn) => {
            btn.addEventListener('click', (e) => {
                e.stopPropagation();
            });
        });

        let video = document.querySelector('video');
        console.log(video);
        let videoSrc = document.querySelector('video source');
        const videos = document.querySelectorAll('.linkVideo a');

        videos.forEach(linkVideo => {
            linkVideo.addEventListener('click', function(e) {
                e.preventDefault();
                if(e.currentTarget.classList.contains('btn-support')) {
                    window.location.href = e.currentTarget.getAttribute('href');
                }
                video.pause();
                video.currentTime = 0;
                let src = linkVideo.getAttribute('href');
                console.log(src)
                videoSrc.setAttribute('src', src);
                video.load();
                video.play();
            })
                // .then(_ => {
                //     // Video playback started )
                // })
                // .catch(e => {
                //     // Video playback failed
                // })
        })

    </script>

{% endblock script_video %}