{% extends "admin/base_admin.html.twig" %}
{% block title %}
    Administrator classes
{% endblock title %}

{% block header_admin %}
    <div>
        <h1 class="text-center p-2 text-white bg-noir">Cours</h1>

    </div>
{% endblock header_admin %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="insert-cours d-flex my-3 me-5 ">
                <div>
                    <a href="{{ path("admin_classes_insert") }}">Insert nouvelle Cours </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <section>
                <table>
                    <tr class="text-center">
                        <th class="">Icone</th>
                        <th class="">Nom</th>
                        <th class="">Description</th>
                        <th class="">Color</th>
                        <th class="">Théme</th>
                        <th class="">Update</th>
                        <th class="">Delete</th>
                    </tr>
                    {% for class in classes %}
                        <tr class="bg-light text-center">
                            <td>{% if class.icon %}
                                    <img src="{{asset('uploads/icons/' ~ class.icon) }}" alt="{{ class.name }}" class="image bg-black resp" style="width: 100px" >
                                {% endif %}</td>
                            <td>{{ class.name }}</td>
                            <td>{{ class.description }}</td>
                            <td>{{ class.color}}</td>
                            {% if class.themes %}
                                <td>{{ class.themes.name}}</td>
                            {% endif %}
                            <td><a href="{{ path("admin_classes_update",{"id" :class.id}) }}"><img src="{{ asset('assets/media/icon/updated.png') }}" alt="" class="width50 resp me-4"></a></td>
                            <td><a href="{{ path("admin_classes_delete",{"id" :class.id}) }}"><img src="{{ asset('assets/media/icon/delete.png') }}" alt="" class="width50 resp"></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </section>

        </div>
    </div>
{% endblock main %}