<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Cours video de informatique en ligne, Formation par la video"/>
    <meta name="keywords" content="Language,Developement, HTML,CSS, JavaScript, Python"/>
    <meta name="author" content="Martin"/>
    <title>{% block title %}Page Admin{% endblock title %}</title>
    <link href= "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/admin_style.css') }}">
</head>
<body>
    <header>
            <h1 class="text-center p-5 text-white header-sidebar">Administration</h1>
    </header>
<main>
    <div>
        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

    </div>
    <div class="sidebar">
        <a href="{{ path("display_classes") }}" class="link text">Classes</a>
        <a href="{{ path("display_support") }}" class="link text">Support</a>
        <a href="{{ path("role") }}" class="link text">User</a>
        <a href="{{ path("display_themes") }}" class="link text">Thémes</a>
        <a href="#" class="link text">Evenement</a>
        <a href="#" class="link text"></a>
    </div>
    <div>
        {% block header_admin %}
        {% endblock header_admin %}
    </div>
    <div>
        {% block main %}
        {% endblock main %}
    </div>

</main>
<footer></footer>
{% block script_video %}{% endblock script_video %}
<script src="{{ asset('assets/js/admin_script.js') }}"></script>
</body>
</html>