{% extends "admin/base_admin.html.twig" %}
{% block title %}
    Administrator Insert/Update Support
{% endblock title %}

{% block header_admin %}
    {% if 'insert' in app.request.get('_route')  %}
        <h1 class="text-center p-2 text-white bg-noir">Insert Support</h1>
    {% elseif 'update' in app.request.get('_route') %}
        <h1 class="text-center p-2 text-white bg-noir">Update Support</h1>
    {% endif %}
{% endblock header_admin %}

{% block main %}
    {{form_start(formSupportView)}}
    <div class="container-fluid ">
        <div class="row justify-content-around mb-5 pt-5 ">
            <div class="col-5">
                <div class="row">
                    <div class="fw-bold text-center fs-3 col-10">
                        <h3>{{ form_label(formSupportView.titre) }}</h3>
                    </div>
                </div>
                <div class="row">
                    {# form_errors me sort les error fait par formulaire #}
                    <div class="bg-danger text-white text-center ">
                        {{ form_errors(formSupportView.titre) }}
                    </div>
                    <div class=" p-0 ">
                        {{ form_widget(formSupportView.titre, {'attr': {'class': 'full-width input-border','placeholder': 'Titre de cours'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row ">
                    {{ form_errors(formSupportView.content) }}
                    <div class="fw-bold text-center fs-3 col-10">
                        <h3>{{ form_label(formSupportView.content) }}</h3>
                    </div>
                </div>
                <div class="row ">
                    <div class=" p-0 ">
                        {{ form_widget(formSupportView.content, {'attr': {'class': 'full-width input-border','placeholder': 'Description'}}) }}
                    </div>

                </div>
            </div>
        </div>

        <div class="row justify-content-around mb-5">
            <div class="col-5">
                <div class="row">
                    <div class="fw-bold text-center fs-3 col-10 text-capitalize">
                        <h3>{{ form_label(formSupportView.image) }}</h3>
                    </div>
                </div>
                <div class="row ">
                    <div class="text-center col-10 ">
                        {{ form_widget(formSupportView.image)  }}
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="fw-bold text-center fs-3 col-10 text-capitalize">
                        <h3>{{ form_label(formSupportView.video) }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-10">
                        {{ form_widget(formSupportView.video, {'attr': {'class': 'published-bool full-width', 'id': 'check'}}) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mb-5">
            <div class="col-5">
                <div class="row">
                    <div class="fw-bold text-center fs-3 col-10">
                        <h3>{{ form_label(formSupportView.classes) }}</h3>
                    </div>
                </div>
                <div class="row ">
                    <div class="text-center col-10 ">
                        {{ form_widget(formSupportView.classes)  }}
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="fw-bold text-center fs-3 col-10">
                        <h3>{{ form_label(formSupportView.alt) }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        {{ form_widget(formSupportView.alt, {'attr': {'class': 'full-width input-border','placeholder' : 'Alt'}})  }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mb-5">
            <div class="col-5">
                <div class="row">
                    <div class="fw-bold text-center fs-3 col-10">
                        <h3>{{ form_label(formSupportView.url) }}</h3>
                    </div>
                </div>
                <div class="row ">
                    <div class="text-center col-10">
                        {{ form_widget(formSupportView.url, {'attr': {'class': 'full-width input-border','placeholder' : 'Url'}})  }}
                    </div>
                </div>
            </div>
        </div>

        <div class="submit-form-article d-flex justify-content-center pb-5">
            {{ form_widget(formSupportView.submit) }}
        </div>
    </div>
    {{ form_end(formSupportView) }}
{% endblock main %}