<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Cours video de informatique en ligne, Formation par la video"/>
    <meta name="keywords" content="Language,Developement, HTML,CSS, JavaScript, Python"/>
    <meta name="author" content="Martin"/>
    <title>{% block title %}Cours en ligne{% endblock title %}</title>
    {% block bootstrap %}{% endblock bootstrap %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
<body>


<header {% block barHeader %}{% endblock barHeader %}>
    <nav class="bar-navigation">
        <ul class="lientop">
            <div class="blabla">
                <li class=""><a href="{{ path("page_cours") }}">Cours</a></li>
                <li class=""><a href=#>Evenement</a></li>
            </div>
{#                    <li><a href="{{ path("cours") }}">Cours</a></li>#}
{#                    <li><a href="{{ path("evenement") }}">Evenement</a></li>#}
{#                    <li><a href="{{ path("abonnement") }}">Abonnement</a></li>#}
            <li><a href="{{ path("page_home") }}" class="logo">KodeMe</a></li>

            {% if app.user %}
                <li><a href="{{ path("app_logout") }}"><i class="bi bi-box-arrow-in-right fs-2"></i>Deconexion</a></li>
            {% else %}
                <li><a href="{{ path("app_login") }}"><i class="bi bi-person-circle fs-2"></i>Connexion</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block noticeText %}
    {% endblock noticeText %}
</header>
<main>
    <div>
        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

    </div>
    {% block main %}
        {% block carrousel %}
        {% endblock carrousel %}
    {% endblock main %}
</main>


<footer class="bar-navigation">
        <div class="">
            <ul>
                <li><h3>Contact</h3></li>
                <li><a href=""></a>KodeMe</li>
                <li><a href=""></a>+33 7 77 77 77 77</li>
                <li><a href=""></a>info@kodeme.fr</li>
            </ul>
        </div>
        <div class="">
            <ul>
                <li><h3>Cours</h3></li>
                <li><a href="">Online cours</a></li>
                <li><a href=""> Cours pour les enfants</a></li>
                <li><a href=""> Pour école</a></li>
                <li><a href=""> Proffeseur</a></li>
                <li><a href=""> Deviens prof</a></li>
            </ul>
        </div>
        <div class="">
            <ul>
                <li><h3>Info</h3></li>
                <li><a href=""> A propo de nous</a></li>
                <li><a href=""> FAQ</a></li>
                <li><a href=""> Références</a></li>
                <li><a href=""> Blog</a></li>
                <li><a href=""> Nous contacte</a></li>
            </ul>
        </div>
</footer>
{% block script_video %}{% endblock script_video %}
</body>
</html>