{% extends "base.html.twig" %}

{% block barHeader %}
    class="page-cours-image"
{% endblock barHeader %}

{% block noticeText %}
    <div class="box-header ">
        <div class="notice-text">
            <p>Notre cours online</p>
            <p class="notice-mini-text">Choisi ton Cour qui te boost</p>
        </div>
    </div>
{% endblock noticeText %}

{% block main %}
    <nav >
        <ul class="display-flex jus-con-bet nav-cours">
            <li><a href="{{ path("page_cours") }}" class="prim-color">Tous</a></li>
            {% for theme in themes %}
                <li><a href="{{ path("page_cours_select", {'id':theme.id}) }}" class="prim-color">{{ theme.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <section>
        <div class="list-class">
            {% for class in classes %}
                <div >
                    <a href="{{ path("page_cour", {'name':class.name}) }}">
                        <div class="class-wrapper" style="background-color: {{ class.color}}">
                            <div class="class-wrapper-text" >
                                <h1>{{ class.name }}</h1>
                                <p>{{ class.description }}</p>
                                <span class="text-small">Rentre dans le cour</span>
                            </div>
                            <div class="class-wrapper-img" >
                                <img src="{{asset('uploads/icons/' ~ class.icon) }}" alt="{{ class.name }}" class="resp img">
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock main %}
