{% extends "base.html.twig" %}

{% block search %}


{% if classes | length > 0 %}
    {% for class in classes %}
        <div >
            <a href="{{ path("page_cour", {'name':class.name}) }}">
                <div class="class-wrapper" style="background-color: {{ class.color}}">
                    <div class="class-wrapper-text" >
                        <h1>{{ class.name }}</h1>
                        <p>{{ class.description }}</p>
                        <span class="text-small">Rentre dans le cour</span>
                    </div>
                    <div class="class-wrapper-img" >
                        <img src="{{asset('uploads/icons/' ~ class.icon) }}" alt="{{ class.name }}" class="resp img">
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

{% else %}
    <div class="recherche_null">
        <a href="{{ path("page_cours") }}">
        <p> Il y a pas article correspondant a ton recherche!</p>
        Retourne a la page</a>
    </div>
{% endif %}

{% endblock search %}